.container {margin: 0px 20px;} 
/* СЕКЦИЯ-1 */
.section-1 {
   background-image: url(../images/section-1Fons/s-\ backgound\ \(1\).png);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
}
.text-s1 {
   display: flex; justify-content: flex-start;
   flex-direction: column;
   color: white;
}
.name-company-s1 {
   position: relative;
   font-family: 'Courgette', cursive;
   font-size: 200%;
   margin-top: 4%;
   margin-bottom: 8%;
}
.welcome-s1 {
   font-family: 'Comfortaa', cursive;
   font-size: 450%;
   width: 40%;
   white-space: normal; word-wrap: break-word;
   letter-spacing: 10px;
   margin-bottom: 5%; word-break: normal;
}
.vector-s1 { margin: 0 auto;
   width: 5%; height: 2%; padding-bottom: 1%;
}
.bottom {
   width: 100%; background-color: black; height: 5vh;
}
.container-b-menu {
   display: none;
}

/* СЕКЦИЯ-2 */
.section-2 {
   background-color: black; color: white;
   text-align: center;
}
.section-2 .container {
   margin: 0 15%;
}
h2 {
   font-family: 'Comfortaa', cursive;
}
.text_s2 {
   font-family: 'Comfortaa', cursive;
   gap: 10px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   font-size: 120%;
   transition: 1s;
}
.text_s2 li {
   margin: 8% 0;
}
 .text_s2 a:hover {color: rgb(229, 206, 147);}
h2 {
   padding: 1% 0;
   position: relative;
   cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
}
h2:after {
   margin: 0 auto;
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #3e3300; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

h2:hover:after,
h2:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
/* СЕКЦИЯ-3 */
.section-3 {
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/section-1Fons/s-bcgrd2.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
}
.flex_s3 { text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 2%;
   color: white; 
}
.right_s3 {
   margin: 0 auto;
   width: 30%;
}
.right_s3 img {
   border: 2px #664A00 solid;
   border-radius: 5%;
   width: 100%; height: 100%;
   margin: 0 auto;
}

.flex_s3 {
   margin: 0 auto; text-align: center;
    position: relative;
}
.left_s3 {
   margin: 0 auto;
}
.left_s3 {
   display: flex; flex-direction: column;
}
.text_s3-1 { line-height: 170%;
   border: 2px #664A00 solid;
   border-radius: 20px;
   font-size: 80%;
   padding: 3%; padding-top: 3%;
   background-color: black;
   width: 80%; height: 80%;
   margin-bottom: 7%; 
}
.text_s3-1 h2 {line-height: 199%; letter-spacing: 3px;}

.text_s3-2 {
   border: 2px #664A00 solid;
   border-radius: 15px;
   font-size: 80%;
   padding: 3%;
   background-color: black;
   width: 80%; height: max-content;
}
.text_s3-2 h2{line-height: 170%;}

/* СЕКЦИЯ-4 */

.section-4 {
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/section-1Fons/b-s4.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
   color: white;
   text-align: center;
}
.flex_s4 {
   display: flex; flex-direction: row; justify-content: space-between;
   margin: 0 8%; padding-top: 7%; padding-bottom: 4%;
}
.card {
   display: flex; text-align: center;
   flex-direction: column;
}
.coin {
   background-color: black;
   width: 100%; height: 100%; border-radius: 5px 5px 0 0;
}

.coin img {
   animation: coin 25s infinite;
   width: 100%;
}
.card p {
   font-family: 'Comfortaa', cursive;
font-size: 90%;
   background-color: #4F380B;
   padding: 5% 2%;
   border-radius: 0px 0px 5px 5px;
}
@keyframes coin {
   from {
      transform: rotate(0);
   }
   to{
      transform: rotate(360deg);
   }
}
/* СЕКЦИЯ-5 */
.section-5 {
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/section-1Fons/bs5.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
   color: white;
   text-align: center;
   padding-bottom: 2%;
}
.flex_s5 {
   display: flex; flex-direction: row; justify-content: space-between;
   margin: 0 3%; padding-top: 7%; padding-bottom: 5%; text-align: center;
}
.card5 {
   display: flex; text-align: center;
   flex-direction: column; margin: 0 5%;
}
.coin5 {
   background-color: black;
   width: 90%; height: 100%; border-radius: 5px 5px 0 0;
}

.coin5 img {
   animation: coin 25s infinite; margin: 0 auto;
   width: 100%;
}
.card5 p {
   font-family: 'Comfortaa', cursive;
   font-size: 90%;
   background-color: #4F380B;
   padding: 5% 0%;
   width: 90%;
   border-radius: 0px 0px 5px 5px;
}
.btn { 
   font-family: 'Comfortaa', cursive;

   background-color: black; color: white;
   border: 1px solid #9f5500; border-radius: 7px;
   ; cursor: pointer; 
}
.btn:hover{
   border: 1px solid #f2870e
}
.link {
   padding: 1% 2%; font-size: 90%;
}

/* СЕКЦИЯ-6 */
.section-6 {
   background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/section-1Fons/FON\ \(1\).png);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
   color: white;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   padding-bottom: 3%;
}
.section-6 h2{
   padding-top: 4%; padding-bottom: 4%;
}
.blocks_s6 {
   padding: 0% 18%;
   display: flex; flex-direction: row;
   justify-content: space-between;
}
.block-1_s6 {
   padding: 1%;

   font-family: 'Comfortaa', cursive;
   border-radius: 15px;
   font-size: 100%;
   width: 40%;
   background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) );
}
.block-2_s6 {
   background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) );
   border-radius: 15px;
   width: 40%;
   text-align: center; display: flex; justify-content: center; flex-direction: column;

}

/* СЕКЦИЯ-7 */
.section-7 {
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/section-1Fons/fon7.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
   color: white;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   padding-bottom: 0%;
}

.blocks_s7 {
   padding: 5% 18%;
   display: flex; flex-direction: row;
   justify-content: space-between;
}
.block-1_s7 {
   background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) );
   width: 40%; border-radius: 15px;
   text-align: center; display: flex; justify-content: center; flex-direction: column;
}
.block-2_s7 {
   font-family: 'Comfortaa', cursive;
   padding: 1%;
   border-radius: 15px;
   font-size: 100%;
   width: 40%;
   background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) );

}
.block-2_s7 a {
   color: #fec887;
}

/* СЕКЦИЯ-8 */
.section-8 {
   background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../images/section-1Fons/fon8.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
   color: white;
   text-align: center;
   font-family: 'Comfortaa', cursive;
}
.blocks_s8 {
   display: flex; justify-content: space-between;
   flex-direction: row;
}

.left-s8 {
   padding: 5% ;
}

.left-s8 h2{
   font-family: 'Courgette', cursive;

font-size: 200%;
}
.b {
   display: none;
}
.left-s8 p {
   font-size: 180%;
   margin-bottom: 120%; margin-top: 20%;
}
.detail {
   margin: 0; padding: 5% 30%;
}

.right-s8 {
   width: 40%; line-height: 30px; padding: 2% 8%;
   background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );

}

/* FOTEEER */
footer {
   background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/section-1Fons/footer1.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
   color: white;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   padding: 2%;
}
.flex_f {
   display: flex;
   justify-content: center;
   flex-direction: row;
}
.block-social_f {
   display: flex; justify-content: center;
   flex-direction: row; 
   margin: 3% auto;
   text-align: center;

}
.block-social_f a {
   display: inline-block; vertical-align: middle;
}
.instagram {
   background:  url(../images/social/инстаграм.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 50px; height: 50px;
   margin: 0 0;

}
.watsapp {
      background:  url(../images/social/ватсап.png);
       background-repeat: no-repeat;
      background-size: cover;
      width: 90px; height: 90px;
      margin: 0% 2%;
      margin-top: -2%;

}
.vk {
   background:  url(../images/social/вк.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 50px; height: 50px;
   margin: 0 0;

}
.quote {
   margin: 0 auto;
   text-align: center;
   width: 40%;
}
.text-social_f {
   width: 50%; margin: 0 auto;
}
.right_f h2{
   font-family: 'Courgette', cursive;

}
/* БУРГЕР МЕНЮ */



.menu__list {
   padding: 5% 0;
   display: none; flex-direction: column;justify-content: center;
   gap: 35px; font-size: 120%; text-align: center;
   font-family: 'Comfortaa', cursive;
   height: 60vh;

}
.container-b-menu {
   display: block;
}
.menu__list li {list-style: none; margin: 2%;}
.icon-menu {
   display: none;
   margin: 0 auto;
   width: 30px;
   height: 18px;
   position: relative; z-index: 5;
   cursor: pointer;
}
.icon-menu span {
   position: absolute;
   top: calc(50% - 1px);
   left: 0;
   width: 100%; height: 2px;
   background-color: white;

}
.icon-menu span:first-child {top: 0;}
.icon-menu span:last-child {bottom: 0; top: auto;}
.m {
   display: none;
}